# In this assignment, students will be using the K-nearest neighbors algorithm to predict how many points NBA players scored in the 2013-2014 season.

In [3]:
import pandas as pd
from sklearn.preprocessing import Imputer
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [2]:
nba=pd.read_csv('nba_2013.csv')
nba.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013

In [28]:
print("Dataset Lenght:: ", len(nba))
print("Dataset Shape:: ", nba.shape)
nba.pos.unique()

Dataset Lenght::  481
Dataset Shape::  (481, 31)

array(['SF', 'C', 'PF', 'SG', 'PG', 'G', 'F'], dtype=object)

In [9]:
#Preparing data
columns=['player','pos','g','gs','pts']
df=nba[columns]
df=df.fillna(0)
df=df.convert_objects(convert_numeric=True).dropna()
df.head()

C:\Users\ANANYA\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  after removing the cwd from sys.path.

          player pos   g  gs   pts
0     Quincy Acy  SF  63   0   171
1   Steven Adams   C  81  20   265
2    Jeff Adrien  PF  53  12   362
3  Arron Afflalo  SG  73  73  1330
4  Alexis Ajinca   C  56  30   328

In [40]:
#PREPARING TRAINING AND TEST DATASET
import numpy as np
X=df[["pos","g","gs"]]
X = pd.concat([X, pd.get_dummies(X['pos'],prefix='pos',prefix_sep=':')], axis=1)
X.drop('pos',axis=1,inplace=True)
Y=np.array(df[["pts"]])
Y.reshape(1,481)
X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size = 0.3, random_state = 100)
y_train = y_train.ravel()
y_test = y_test.ravel()

### FINAL OUTPUT

In [41]:
#FINDING K VALUE HAVING HIGHEST ACCURACY
for K in range(25):
    K_value = K+1
    neigh = KNeighborsClassifier(n_neighbors = K_value, weights='uniform', algorithm='auto')
    neigh.fit(X_train, y_train) 
    y_pred = neigh.predict(X_test)
    print("Accuracy is ", accuracy_score(y_test,y_pred)*100,"% for K-Value:",K_value)

Accuracy is  2.7586206896551726 % for K-Value: 1
Accuracy is  2.0689655172413794 % for K-Value: 2
Accuracy is  2.7586206896551726 % for K-Value: 3
Accuracy is  2.7586206896551726 % for K-Value: 4
Accuracy is  2.7586206896551726 % for K-Value: 5
Accuracy is  4.137931034482759 % for K-Value: 6
Accuracy is  4.137931034482759 % for K-Value: 7
Accuracy is  4.137931034482759 % for K-Value: 8
Accuracy is  4.137931034482759 % for K-Value: 9
Accuracy is  3.4482758620689653 % for K-Value: 10
Accuracy is  3.4482758620689653 % for K-Value: 11
Accuracy is  4.137931034482759 % for K-Value: 12
Accuracy is  4.137931034482759 % for K-Value: 13
Accuracy is  4.137931034482759 % for K-Value: 14
Accuracy is  4.137931034482759 % for K-Value: 15
Accuracy is  3.4482758620689653 % for K-Value: 16
Accuracy is  3.4482758620689653 % for K-Value: 17
Accuracy is  3.4482758620689653 % for K-Value: 18
Accuracy is  3.4482758620689653 % for K-Value: 19
Accuracy is  3.4482758620689653 % for K-Value: 20
Accuracy is  3.4482758620689653 % for K-Value: 21
Accuracy is  3.4482758620689653 % for K-Value: 22
Accuracy is  3.4482758620689653 % for K-Value: 23
Accuracy is  3.4482758620689653 % for K-Value: 24
Accuracy is  3.4482758620689653 % for K-Value: 25

In [47]:
#TRAINING  THE MODEL AND FINDING ACCURACY
#creating KNN
knn=KNeighborsClassifier(n_neighbors = 1)
knn.fit(X_train, y_train)
y_pred=knn.predict(X_test)
print("Accuracy is ", accuracy_score(y_test,y_pred)*100,"% for K-Value:1")

Accuracy is  2.7586206896551726 % for K-Value:1

In [48]:
# Sklearn performs the normalization and distance finding automatically, and lets us specify how many neighbors we want to look at.
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=1)

# Fit the model on the training data.
knn.fit(X_train, y_train)

# Make predictions on the test set using the fit model.
predictions = knn.predict(X_test)

print("predictions[:5]:\n", predictions[:5])

predictions[:5]:
 [ 759. 1028.  249.   92.   19.]